<div class="container">
  <div class="card card-body">
    <h2 class="card-title text-primary">
      Add book: {{book.name}}
    </h2>
    <form #form="ngForm" (ngSubmit)="addBook()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="book.name"
                id="name"
                #bookName="ngModel"
                required
        >
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
                type="text"
                class="form-control"
                name="description"
                [(ngModel)]="book.description"
                id="description"
                #bookDescription="ngModel"
                required
        >
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input
                type="text"
                class="form-control"
                name="author"
                [(ngModel)]="book.author"
                id="author"
                #bookAuthor="ngModel"
                required
        >
      </div>
      <div class="form-group" *ngFor="let link of book.links; let i = index">
          <label for="{{link.type}}">Link: {{link.type}}</label>
          <input
                  type="text"
                  class="form-control"
                  name="{{book.links[i].link}}"
                  [(ngModel)]="book.links[i].link"
                  [ngModelOptions]="{standalone: true}"
                  id="{{link.type}}"
                  #book{{link.type}}="ngModel"
          >
      </div>
      <button class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
